{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-native"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends" : [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "rules" : {
    "arrow-body-style" : "warn",
    "no-shadow": "off",
    "react/prop-types": "off",
    "class-methods-use-this": "off",
    "max-len": ["error", {
      "comments": 150,
      "code": 140,
      "ignoreComments": true,
      "ignoreUrls": true
    }],
    "no-use-before-define": "off"
  }
}
